.parks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 100px auto;
  width: 90%;
  grid-gap: 2.5em;
}

@media only screen and (max-width: 725px) {
  .parks-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-gap: 2.5em;
  }
}
