.park-container {
  position: relative;
  background-color: #3d5c71;
  min-width: 264px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  margin: 0;
}

.park-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}

.transparent-click {
  background-color: initial;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 90%;
  z-index: 2;
}

@media only screen and (max-width: 750px) {
  h3 {
    font-size: 22px;
  }
  .park-location {
    font-size: 22px;
  }
}
